*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #06292E;
    max-width: 1440px;
    min-width: 390px;
}
.App{
    width: 100%;
    height: 100%;
   font-family: sans-serif;
}

.banner__header{
    width: 100%;
    height: 380px;
    box-shadow: 1px 1px 5px white;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/743/877/224/rick-and-morty-morty-rick-laboratory-wallpaper-preview.jpg);
    background-size: cover;
}

.cart{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    position: absolute;


}
.card__principal{
    background-color: #06292E;
    background-size:contain;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    height: 455px;
    box-shadow: 1px 1px 10px #fff;
    
    
}
.card__principal:hover{
    box-shadow: 1px 1px 10px #00D7FF;
    cursor: pointer;
}
.span{
    font-weight: 500;
    position: relative;
    left: 10px;
    
    
}
.cart__status{
    position: relative;
    bottom: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 107px;
    height: 30px;
   background-color: #000;
 
    border-radius: 0 10px 10px 0;
}
.circle{
    position: relative;
    z-index: 5000;
    bottom: 269px;
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.cart__img{
    height: 250px;
    box-shadow: 1px 1px 10px #fff;
}
.ul li{
    text-shadow: 3px 3px 15px black;
     list-style: none;
     color: #fff;
     position: relative;
     margin-top: 10px;
     margin-bottom: 5px;
     left: 10px;
}
.Dead{
    background-color: red;
}
.unknown{
    background-color: gray;
}
.Alive{
    background-color: green;
}
.cart__name{
    position: relative;
    left: 10px;
    bottom: 10px;
}
   
.cart__info{
    
    width: 235px;
    height: 130px;
    position: relative;
    left: 12px;
    bottom: 20px;
    border-radius: 10px;  
}

.locationInfo{
    width: 100%;
    height: 250px;  
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;  
}

.card__location{
    height: 100px;
    border: solid 1px white;
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    color: #fff;
}

.ul__card__location{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 20px;

}

.card__form{
    position: static;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.card__form:default{
    height: 600px;
}



.card__input{
    text-align: center;
    width: 540px;
    height: 40px;

}

.btn__input{
    height: 40px;
    width: 150px;
    cursor: pointer;
}

.filter__card{
    position: absolute;
    top: 420px;
   
    height: 100vh;
    width: 530px;
    color: #fff;
    list-style: none;  
    z-index: 7000;
}


.filter__card li{
    height: 30px;
    border: solid 1px green;
    background-color: #10343a;
    
}

.filter__card li:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px #fff;
}
@media (max-width: 1389px) {
    .filter__card{
        position: absolute;
        left: 352px;
    }
}
@media (max-width: 1200px) {
    .filter__card{
        position: absolute;
        left: 255px;
    }
}
@media (max-width: 912px) {
    .filter__card{
        position: absolute;
        left: 115px;
    }
}
@media (max-width: 820px) {
    .filter__card{
        position: absolute;
        left: 69px;
    }
}
@media (max-width: 700px) {
    .filter__card{
        position: absolute;
        left: 8px;
    }
    .card__location {
        width: 90%;
        margin: 6px;
    }
}

@media (max-width: 391px) {
    .filter__card{
        position: absolute;
        left: 1px;
        width: 100%;
    }
    .locationInfo{
        font-size:8px;
        
    }
    .card__location {
        width: 90%;
        margin: 6px;
    }
}





